header {
  display: flex;
  padding: 15px;
  width: 100%;
  background-color: var(--lighter);
  justify-content: flex-end;
}

header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
    color: grey;
    font-size: 0.75rem;
}

button {
    background-color: var(--primary);
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);

    &:hover {
        cursor: pointer;
        box-shadow:
            rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
